@import '../scss/base';
@import '../scss/format';
@import '../scss/variables';

.NewNote {
  @extend .flex;
  @extend .col;
  width: 100%;
  margin-bottom: 0;
  border-radius: 5px;

  input {
    font-size: 20px;
    width: 90%;
    margin-bottom: 10px;
  }

  textarea {
    width: 90%;
    height: 300px;
    margin-bottom: 10px;
  }

  .buttons {
    @extend .flex;
    @extend .row;
    width: 100%;
    padding: 10px;
    justify-content: space-between;

    button.main {
      background-color: #5bc4e4;
    }
  }
}
